# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Archives
*.zip
*.crx

# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Scratch & Temporary
scratch/
